.codex-creator-wrap {
    position: relative;
    overflow: auto;
    margin: 16px 0;
    padding: 0px 10px 0;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    background: #fff;
    font-size: 13px;
    line-height: 2.1em;
}

.codex-creator-step-content {
    display: none;
}

.cc-active .codex-creator-step-content {
    display: block;
}

.cc-function-tree,
.cc-file-tree .cc-file-tree{
    padding-left: 15px;
}

.cc-file-tree .cc-file-tree-folder{

}
.cc-file-tree-function,
.cc-file-tree-file{
    border: 1px solid #ccc;
    padding: 0px 5px;
}

.cc-file-info-bloc,
.cc-function-info-bloc{
    float: right;
}

/*
 * Admin meta boxes
 */

#codex_creator_meta_box textarea{
    width: 100%;
    height: 65px;
}

#codex_creator_meta_box input{
    width: 100%;
}

#codex_creator_meta_box label{
    font-weight: bold;
}